.work-item {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-picture {
  height: 294px;
  width: 370px;
  left: 615px;
  top: 1061px;
  border-radius: 0px;
}
.work-img {
  display: flex;
}
.work-img-picture + .work-img-picture {
  margin-left: 30px;
}
.work-img-picture-item {
  position: relative;
}